@font-face {
  font-family: 'Origin01';
  src: url('../fonts/Origin01-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Origin01';
  src: url('../fonts/Origin01-BoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Origin01';
  src: url('../fonts/Origin01-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Origin01';
  src: url('../fonts/Origin01-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Origin01', sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  color: darkblue;
}

.container {
  background-color: blueviolet;
  display: flex; /* Flexboxを使う */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* アイテムを中央寄せ */
  width: 300px; /* コンテナの幅 */
  height: 64px; /* コンテナの高さ */
  text-align: center; /* テキストを中央揃え */
  overflow: hidden; /* 余分なコンテンツを隠す */
  margin-bottom: 20px;
}
.clamp-text {
  font-family: Origin01;
  font-weight: bold;
  font-size: 20px;
  background-color: yellow;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 最大2行表示 */
  overflow: hidden;
  text-overflow: ellipsis; /* はみ出したテキストを...で置き換え */
  text-align: center;
  vertical-align: middle;
  height: auto;
}